<div class="Navbar">
    <img src="/images/ImgLogo.png" alt="" class="NavbarLogo mt-2 ml-3">
    <img src="<%=loginedUser.imageUrl%>" alt="" class="NavbarUserImage float-right rounded mr-3 mt-2" id="navbaruserimageid">
    <a class="float-right mt-3 text-decoration-none mr-2 Navbarusernameid" id="navbarusernameid" href="/Admin/Admin-Profile/<%=loginedUser.id%>"><%=loginedUser.userName%></a>
    <a class="btn navbarloginbtn mr-3 float-right" id="userlogin" href="/login/logout">Login</a>
</div>
