    <div class="Navbar">
        <img src="/images/ImgLogo.png" alt="" class="NavbarLogo mt-2 ml-3">
        <a class="btn navbarloginbtn mr-3 float-right" id="userlogin" href="/login/logout">Login</a>
    </div>
