<div class="sidebar">
  <a href="/Admin/Admin-Facilitators">Facilitators<hr width="100%"></a>
  <a href="/Admin/Admin-Courses">Courses<hr width="100%"></a>
  <a href="/Admin/Admin-Registeration">Registeration Form<hr width="100%"></a>
  <a href="/Admin/Admin-Evaluation">Evaluation Form<hr width="100%"></a>
</div>