<div class="sidebar">
  <a href="/Admin/facilitators">Facilitators<hr width="100%"></a>
  <a href="/Admin/courses">Courses<hr width="100%"></a>
  <a href="/Admin/registeration">Registeration Form<hr width="100%"></a>
  <a href="/Admin/evaluation">Evaluation Form<hr width="100%"></a>
</div>